
.bg-container{
    background: black;
    height: 140vh;
    background-size: cover;
    padding: 10px;
}
.column1{
    display: flex;
    flex-direction: column;
}
.card1{
    height: 90px;
    width: 290px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: rgb(57, 53, 53);
    margin: 5px;
}
.img{
    height: 90px;
    width: 100px;
}
.h1{
    color: white ;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
}
.head{
    margin-top: 20px;
    font-size: 30px;
    font-weight:bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    color: white;
    margin-left: 10px;
}
.img1{
    height: 220px;
    width: 220px;
    margin: 10px;
}
.radio-head{
    color: rgb(102, 80, 80);
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
}
.btn1{
    background: rgb(62, 119, 184);
    border-style: solid;
    border-radius: 50px;
    height:50px ;
    width: 50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
.btn2{
    background: rgb(58, 212, 60);
    border-style: solid;
    border-radius: 50px;
    height:50px ;
    width: 70px;
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.btn3{
    background: rgb(69, 81, 95);
    border-style: solid;
    border-radius: 50px;
    height:50px ;
    width: 80px;
    color:white;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
.btn4{
    background: rgb(64, 81, 99);
    border-style: solid;
    border-radius: 50px;
    height:50px ;
    width: 80px;
    color:white;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}
